.filterDate-container {
  margin: 0 auto;
  width: 80%;
}

.filterDate-calendar {
  display: flex;
  align-items: center;
}

.filterDate-input {
  background-color: transparent;
  color: #FFF;
  font-size: 1.1rem;
  box-shadow: none;
  border: 1px solid #FFF;
  border-radius: 10px;
  padding: 8px;
  margin-left: 1rem;
  background-image: #FFF;
  color-scheme: dark;
  max-height: 1.7rem;
}

.filterDate-dateSelected {
  font-size: 1.3rem;
  font-weight: bold;
   span {
    font-size: 1rem;
    font-weight: 500;
  }
}
