.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 35%;
  width: 10vh;
  margin-left: 1.5rem;
}

.filter-button {
  cursor: pointer;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  background-color: #2d2c2c;
  color: #FFF;
  font-size: 1.1rem;
  padding: .3rem 1rem;
  /* box-shadow: 3px 2px 4px 1px rgba(255, 255, 255, 0.8); */
}

/* .filter-button.today {
  box-shadow: 0px 4px 4px 1px rgba(255, 255, 255, 0.8);
} */

.filter-button.search {
  font-size: 1.3rem;
  border: none; 
  box-shadow: 3px 2px 4px 3px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.3)
}
