.nasa-main-container {
  margin: 20px 0;
}

.nasa-container-image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 10rem;
}

.nasa-otherText {
  color: aliceblue;
}

.nasa-title {
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

.nasa-text {
  max-width: 50%;
  margin: 10px auto;
  color: #FFF;
}

.nasa-image {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}