@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
}

* {
  font-family: "Nunito";
}

body {
  margin: 1rem 2rem;
  padding: 0;
  /* background-color: #101010; */
  background-image: url('./assets/img/background.svg');
  color: #FFF;
}
